include ../blocks/game/game.pug

mixin lazyJpg(image, altTag, lWidth, lHeight)
	picture
		source(data-srcset="img/"+image+".webp" type="image/webp")
		source(data-srcset="img/"+image+".jpg" type="image/jpeg")
		img.lazyload.blur-up(src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="img/"+image+".jpg" alt=altTag width=lWidth height=lHeight)

mixin picJpg(image, altTag)
	picture
		source(srcset="img/"+image+".webp" type="image/webp")
		source(srcset="img/"+image+".jpg" type="image/jpeg")
		img(src="img/"+image+".jpg" alt=altTag)

mixin picPng(image, altTag)
	picture
		source(srcset="img/"+image+".webp" type="image/webp")
		source(srcset="img/"+image+".png" type="image/png")
		img(src="img/"+image+".png" alt=altTag)

mixin picMediaPng(image, altTag)
	picture
		source(srcset="img/"+image+"-small.webp" type="image/webp" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.webp" type="image/webp" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.webp" type="image/webp" media="(min-width: 780px)")
		source(srcset="img/"+image+"-small.png" type="image/png" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.png" type="image/png" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.png" type="image/png" media="(min-width: 780px)")
		img(src="img/"+image+".png" alt=altTag)

mixin picMediaJpg(image, altTag)
	picture
		source(srcset="img/"+image+"-small.webp" type="image/webp" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.webp" type="image/webp" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.webp" type="image/webp" media="(min-width: 780px)")
		source(srcset="img/"+image+"-small.jpg" type="image/jpg" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.jpg" type="image/jpg" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.jpg" type="image/jpg" media="(min-width: 780px)")
		img(src="img/"+image+".jpg" alt=altTag)

mixin xlink(svg, sClass)
	svg(class=""+sClass+"__icon")
		use(xlink:href="img/sprite.svg#"+svg+"")

mixin logo(lClass, lText, lAfter)
	.logo(href="/" class=lClass data-logo-text=lAfter || false)
		svg(viewBox="0 0 31 27" class="logo-icon" fill="none" xmlns="http:www.w3.org2000svg")
			path(d="M10.3246 0L7.78552 7.79936H0C10.3246 0 0 7.79936 10.3246 0Z" class="logo-icon__pink")
			path(d="M12.8171 0H20.6026L18.0636 7.79936H10.278L12.8171 0Z" class="logo-icon__mono")
			path(d="M28.3874 7.79936H20.6019L23.1409 0C28.3874 7.79936 23.141 0 28.3874 7.79936Z"  class="logo-icon__mono")
			path(d="M3.34206 9.53365H11.1276L8.58854 17.333H0.803012L3.34206 9.53365Z" class="logo-icon__mono")
			path(d="M22.3367 9.53793H30.1223L27.5832 17.3373H19.7977L22.3367 9.53793Z" class="logo-icon__blue")
			path(d="M2.53903 19.0673H10.3246L7.7855 26.8666C2.53903 19.0673 7.7855 26.8666 2.53903 19.0673Z" class="logo-icon__mono")
			path(d="M12.8212 19.0673H20.6067L18.0677 26.8667H10.2821L12.8212 19.0673Z" class="logo-icon__green")
			path(d="M22.1112 19.0673H31L28.461 26.8667C22.1112 19.0673 28.461 26.8667 22.1112 19.0673Z" class="logo-icon__yellow")

		if lText
			svg.logo-text(width="68" height="20" viewBox="0 0 68 20" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(d="M10.1284 3.4128C10.3124 2.732 10.0548 2.39159 9.35557 2.39159H8.11357C7.43277 2.39159 7.00037 2.732 6.81637 3.4128L3.36637 16.7712C3.18237 17.452 3.43997 17.7924 4.13917 17.7924H6.40237L10.1284 3.4128ZM10.5148 17.7924L9.96277 20.0004H3.09037C0.937567 20.0004 0.155568 18.878 0.744368 16.6332L4.11157 3.57839C4.71877 1.31519 6.07117 0.183594 8.16877 0.183594H10.432C12.5664 0.183594 13.33 1.31519 12.7228 3.57839L9.05197 17.7924H10.5148Z")
				path(d="M23.6067 0.183594L19.4667 16.2468C19.1539 17.5164 18.5927 18.464 17.7831 19.0896C16.9919 19.6968 15.9707 20.0004 14.7195 20.0004H13.9191C11.4167 20.0004 10.4875 18.74 11.1315 16.2192L15.2715 0.183594H17.9211L13.7535 16.302C13.5143 17.1668 13.7903 17.5992 14.5815 17.5992H15.2439C16.0351 17.5992 16.5503 17.1668 16.7895 16.302L20.9571 0.183594H23.6067Z")
				path( d="M28.1773 10.3404L29.8885 3.74399C30.0725 2.97119 29.7873 2.58479 29.0329 2.58479H28.3153C27.5241 2.58479 27.0365 2.97119 26.8525 3.74399L25.1413 10.3404H28.1773ZM22.6573 20.0004H20.0077L24.2305 3.57839C24.8377 1.31519 26.1901 0.183594 28.2877 0.183594H30.2749C32.4093 0.183594 33.1729 1.31519 32.5657 3.57839L28.3429 20.0004H25.6933L27.5701 12.7416H24.5341L22.6573 20.0004Z")
				path(d="M38.6331 2.39159L34.0791 20.0004H31.4295L35.9835 2.39159H33.4443L33.9963 0.183594H41.7243L41.1723 2.39159H38.6331Z")
				path(d="M46.0797 2.39159L41.5257 20.0004H38.8761L43.4301 2.39159H40.8909L41.4429 0.183594H49.1709L48.6189 2.39159H46.0797Z")
				path(d="M50.0487 9.7332H51.7875C52.5787 9.7332 53.0939 9.2548 53.3331 8.298L54.4371 4.01999C54.6763 3.06319 54.4095 2.58479 53.6367 2.58479H51.8979L50.0487 9.7332ZM50.7387 20.0004L51.0699 11.9964H49.4691L47.3991 20.0004H44.7495L49.8555 0.183594H55.0443C57.0868 0.183594 57.8043 1.31519 57.1971 3.57839L55.9551 8.4636C55.4951 10.1932 54.6855 11.288 53.5263 11.748L53.2503 20.0004H50.7387Z")
				path(d="M59.9244 17.7924C60.2372 17.7924 60.5132 17.7096 60.7524 17.544C61.01 17.3784 61.1848 17.1208 61.2768 16.7712L64.7268 3.4128C64.9108 2.732 64.6532 2.39159 63.954 2.39159H62.712C62.0312 2.39159 61.5988 2.732 61.4148 3.4128L57.9648 16.7712C57.7808 17.452 58.0384 17.7924 58.7376 17.7924H59.9244ZM57.6888 20.0004C55.536 20.0004 54.754 18.878 55.3428 16.6332L58.71 3.57839C59.3172 1.31519 60.6696 0.183594 62.7672 0.183594H65.0304C67.1648 0.183594 67.9284 1.31519 67.3212 3.57839L63.954 16.6332C63.3652 18.878 62.0128 20.0004 59.8968 20.0004H57.6888Z")
			//- span.logo-text=lText

mixin acc(accTitle)
	.acc-item
		.acc-item__head=accTitle
		.acc-item__body
			article.acc-item__content.
				<p>Quattrocasino.com is the multi-currency online casino where you can play using bitcoin and other cryptocurrencies, as well as many traditional currencies, including rubles, dollars and euros.Quattrocasino.com is operated and licensed by Luckywayz Limited B.V., a company registered under the laws of Curacao under registration number 161054, registered address Abraham de Veerstraat 9, Willemstad, Curaçao, license Nr. 365/JAZ. support@quattrocasino.com.</p><p>Quattrocasino.com is the multi-currency online casino where you can play using bitcoin and other cryptocurrencies, as well as many traditional currencies, including rubles, dollars and euros.Quattrocasino.com is operated and licensed by Luckywayz Limited B.V., a company registered under the laws of Curacao under registration number 161054, registered address Abraham de Veerstraat 9, Willemstad, Curaçao, license Nr. 365/JAZ. support@quattrocasino.com.</p>

mixin slider(sTitle, sBreakpoints, sVert = false)
	.section
		.container
			.section-head
				h2.section-title=sTitle
				a.section-head__link(href="#") All #{sTitle}
				.swiper-nav
					button.swiper-button.swiper-button--prev
						+xlink('arrow-left', 'btn')
					button.swiper-button.swiper-button--next
						+xlink('arrow-right', 'btn')
			.swiper(data-breakpoint=''+sBreakpoints+'')
				.swiper-wrapper
					- for (let x = 0; x < 10; x++)
						.swiper-slide
							+game(sVert)


mixin search()
	form.search
		label.search-field
			.search-field__icon
				+xlink('search', 'search')
			input.search-input(type="search" name="game-search" required placeholder="Search for Games (for example - Dog House)")
			button.btn.btn--primary.btn--sm(type="submit")
				+xlink('search', 'btn')
				span I'll be lucky

