include ../blocks/game/game.pug
include ../blocks/logo/logo.pug

mixin lazyJpg(image, altTag, lWidth, lHeight)
	picture
		source(data-srcset="img/"+image+".webp" type="image/webp")
		source(data-srcset="img/"+image+".jpg" type="image/jpeg")
		img.lazyload.blur-up(src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="img/"+image+".jpg" alt=altTag width=lWidth height=lHeight)

mixin picJpg(image, altTag)
	picture
		source(srcset="img/"+image+".webp" type="image/webp")
		source(srcset="img/"+image+".jpg" type="image/jpeg")
		img(src="img/"+image+".jpg" alt=altTag)

mixin picPng(image, altTag)
	picture
		source(srcset="img/"+image+".webp" type="image/webp")
		source(srcset="img/"+image+".png" type="image/png")
		img(src="img/"+image+".png" alt=altTag)

mixin picMediaPng(image, altTag)
	picture
		source(srcset="img/"+image+"-small.webp" type="image/webp" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.webp" type="image/webp" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.webp" type="image/webp" media="(min-width: 780px)")
		source(srcset="img/"+image+"-small.png" type="image/png" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.png" type="image/png" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.png" type="image/png" media="(min-width: 780px)")
		img(src="img/"+image+".png" alt=altTag)

mixin picMediaJpg(image, altTag)
	picture
		source(srcset="img/"+image+"-small.webp" type="image/webp" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.webp" type="image/webp" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.webp" type="image/webp" media="(min-width: 780px)")
		source(srcset="img/"+image+"-small.jpg" type="image/jpg" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.jpg" type="image/jpg" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.jpg" type="image/jpg" media="(min-width: 780px)")
		img(src="img/"+image+".jpg" alt=altTag)

mixin xlink(svg, sClass)
	svg(class=""+sClass+"__icon")
		use(xlink:href="img/sprite.svg#"+svg+"")

mixin acc(accTitle)
	.acc-item
		.acc-item__head=accTitle
		.acc-item__body
			article.acc-item__content.
				<p>Quattrocasino.com is the multi-currency online casino where you can play using bitcoin and other cryptocurrencies, as well as many traditional currencies, including rubles, dollars and euros.Quattrocasino.com is operated and licensed by Luckywayz Limited B.V., a company registered under the laws of Curacao under registration number 161054, registered address Abraham de Veerstraat 9, Willemstad, Curaçao, license Nr. 365/JAZ. support@quattrocasino.com.</p><p>Quattrocasino.com is the multi-currency online casino where you can play using bitcoin and other cryptocurrencies, as well as many traditional currencies, including rubles, dollars and euros.Quattrocasino.com is operated and licensed by Luckywayz Limited B.V., a company registered under the laws of Curacao under registration number 161054, registered address Abraham de Veerstraat 9, Willemstad, Curaçao, license Nr. 365/JAZ. support@quattrocasino.com.</p>

mixin slider(sCLass, sTitle, sBreakpoints, sVert = false)
	.section
		.container
			.section-carousel(class=sCLass)
				.section-head
					.section-head__side-left
						h2.section-title(data-count="659")=sTitle
					.section-head__side-center
						.swiper-pagination
					.section-head__side-right
						a.section-head__link(href="#") see all
						.swiper-nav
							button.swiper-button.swiper-button--prev
								+xlink('arrow-left', 'swiper-button')
							button.swiper-button.swiper-button--next
								+xlink('arrow-right', 'swiper-button')
				.swiper(data-breakpoint=''+sBreakpoints+'')
					.swiper-wrapper
						- for (let x = 0; x < 10; x++)
							.swiper-slide
								+game(sVert)


mixin search()
	form.search.search--index
		label.search-field
			.search-field__icon
				+xlink('search', 'search')
			input.search-input(type="text" name="game-search" required placeholder="Search from more than 3000 Games")
			.search__btns
				button.search-clear(type="button")
					+xlink('clear', 'search-clear')
				button.btn.btn--primary.search-btn(type="submit") Search
		a.btn.btn--primary.btn--lg(href="#") 
			span I'll be lucky
			+xlink('search', 'btn')

