

mixin lazyJpg(image, altTag, lWidth, lHeight)
	picture
		source(data-srcset="img/"+image+".webp" type="image/webp")
		source(data-srcset="img/"+image+".jpg" type="image/jpeg")
		img.lazyload.blur-up(src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="img/"+image+".jpg" alt=altTag width=lWidth height=lHeight)

mixin picJpg(image, altTag)
	picture
		source(srcset="img/"+image+".webp" type="image/webp")
		source(srcset="img/"+image+".jpg" type="image/jpeg")
		img(src="img/"+image+".jpg" alt=altTag)

mixin picPng(image, altTag)
	picture
		source(srcset="img/"+image+".webp" type="image/webp")
		source(srcset="img/"+image+".png" type="image/png")
		img(src="img/"+image+".png" alt=altTag)

mixin picMediaPng(image, altTag)
	picture
		source(srcset="img/"+image+"-small.webp" type="image/webp" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.webp" type="image/webp" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.webp" type="image/webp" media="(min-width: 780px)")
		source(srcset="img/"+image+"-small.png" type="image/png" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.png" type="image/png" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.png" type="image/png" media="(min-width: 780px)")
		img(src="img/"+image+".png" alt=altTag)

mixin picMediaJpg(image, altTag)
	picture
		source(srcset="img/"+image+"-small.webp" type="image/webp" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.webp" type="image/webp" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.webp" type="image/webp" media="(min-width: 780px)")
		source(srcset="img/"+image+"-small.jpg" type="image/jpg" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.jpg" type="image/jpg" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.jpg" type="image/jpg" media="(min-width: 780px)")
		img(src="img/"+image+".jpg" alt=altTag)

mixin xlink(svg, sClass)
	svg(class=""+sClass+"__icon")
		use(xlink:href="img/sprite.svg#"+svg+"")

mixin logo(lClass, lText, lAfter)
	a.logo(href="/" class=lClass data-logo-text=lAfter || false)
		svg(xmlns="http://www.w3.org/2000/svg" class="logo-icon" viewBox="0 0 496 496" fill="none")
			path(d="M347.19 352.056H491.383V495.999C443.558 447.778 395.491 399.802 347.19 352.056Z" class="logo-icon__yellow")
			rect(x="175.467" y="352.057" width="144.192" height="143.943" class="logo-icon__green")
			path(d="M0 352.056H144.192V495.999C96.3673 447.778 48.3007 399.802 0 352.056Z" class="logo-icon__mono")
			rect(x="351.807" y="176.02" width="144.192" height="143.943" class="logo-icon__blue")
			rect(y="176.02" width="144.192" height="143.943" class="logo-icon__mono")
			path(d="M495.986 143.943H351.794V0C399.619 48.2214 447.686 96.197 495.986 143.943Z" class="logo-icon__mono")
			rect(x="175.467" width="144.192" height="143.943" class="logo-icon__mono")
			path(d="M144.192 0V143.943H0C48.3047 96.2011 96.3632 48.2174 144.192 0Z" class="logo-icon__pink")
		if lText
			span.logo-text=lText

mixin acc(accTitle)
	.acc-item
		.acc-item__head=accTitle
		.acc-item__body
			article.acc-item__content.
				<p>Quattrocasino.com is the multi-currency online casino where you can play using bitcoin and other cryptocurrencies, as well as many traditional currencies, including rubles, dollars and euros.Quattrocasino.com is operated and licensed by Luckywayz Limited B.V., a company registered under the laws of Curacao under registration number 161054, registered address Abraham de Veerstraat 9, Willemstad, Curaçao, license Nr. 365/JAZ. support@quattrocasino.com.</p><p>Quattrocasino.com is the multi-currency online casino where you can play using bitcoin and other cryptocurrencies, as well as many traditional currencies, including rubles, dollars and euros.Quattrocasino.com is operated and licensed by Luckywayz Limited B.V., a company registered under the laws of Curacao under registration number 161054, registered address Abraham de Veerstraat 9, Willemstad, Curaçao, license Nr. 365/JAZ. support@quattrocasino.com.</p>