include ../blocks/game/game.pug
include ../blocks/logo/logo.pug
include ../blocks/providers/providers.pug
include ../blocks/search/search.pug
include ../blocks/bonus/bonus.pug

mixin lazyJpg(image, altTag, lWidth, lHeight)
	picture
		source(data-srcset="img/"+image+".webp" type="image/webp")
		source(data-srcset="img/"+image+".jpg" type="image/jpeg")
		img.lazyload(src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="img/"+image+".jpg" alt=altTag width=lWidth height=lHeight)

mixin lazyPng(image, altTag, lWidth, lHeight)
	picture
		source(data-srcset="img/"+image+".webp" type="image/webp")
		source(data-srcset="img/"+image+".png" type="image/png")
		img.lazyload(src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="img/"+image+".png" alt=altTag width=lWidth height=lHeight)

mixin picJpg(image, altTag)
	picture
		source(srcset="img/"+image+".webp" type="image/webp")
		source(srcset="img/"+image+".jpg" type="image/jpeg")
		img(src="img/"+image+".jpg" alt=altTag)

mixin picPng(image, altTag)
	picture
		source(srcset="img/"+image+".webp" type="image/webp")
		source(srcset="img/"+image+".png" type="image/png")
		img(src="img/"+image+".png" alt=altTag)

mixin picMediaPng(image, altTag)
	picture
		source(srcset="img/"+image+"-small.webp" type="image/webp" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.webp" type="image/webp" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.webp" type="image/webp" media="(min-width: 780px)")
		source(srcset="img/"+image+"-small.png" type="image/png" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.png" type="image/png" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.png" type="image/png" media="(min-width: 780px)")
		img(src="img/"+image+".png" alt=altTag)

mixin picMediaJpg(image, altTag)
	picture
		source(srcset="img/"+image+"-small.webp" type="image/webp" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.webp" type="image/webp" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.webp" type="image/webp" media="(min-width: 780px)")
		source(srcset="img/"+image+"-small.jpg" type="image/jpg" media="(max-width: 560px)")
		source(srcset="img/"+image+"-medium.jpg" type="image/jpg" media="(max-width: 780px)")
		source(srcset="img/"+image+"-large.jpg" type="image/jpg" media="(min-width: 780px)")
		img(src="img/"+image+".jpg" alt=altTag)

mixin xlink(svg, sClass)
	svg(class=""+sClass+"__icon")
		use(xlink:href="img/sprite.svg#"+svg+"")

mixin acc(accTitle)
	.acc-item
		.acc-item__head=accTitle
		.acc-item__body
			article.acc-item__content.
				<p>Quattrocasino.com is the multi-currency online casino where you can play using bitcoin and other cryptocurrencies, as well as many traditional currencies, including rubles, dollars and euros.Quattrocasino.com is operated and licensed by Luckywayz Limited B.V., a company registered under the laws of Curacao under registration number 161054, registered address Abraham de Veerstraat 9, Willemstad, Curaçao, license Nr. 365/JAZ. support@quattrocasino.com.</p><p>Quattrocasino.com is the multi-currency online casino where you can play using bitcoin and other cryptocurrencies, as well as many traditional currencies, including rubles, dollars and euros.Quattrocasino.com is operated and licensed by Luckywayz Limited B.V., a company registered under the laws of Curacao under registration number 161054, registered address Abraham de Veerstraat 9, Willemstad, Curaçao, license Nr. 365/JAZ. support@quattrocasino.com.</p>

mixin slider(sCLass, longTitle, shortTitle, sBreakpoints=false, sVert = false, sRow=false)
	.section
		.container
			.section-carousel(class=sCLass)
				.section-head
					.section-head__side-left
						h2.section-title(data-count="659")
							span(data-long-title=longTitle data-short-title=shortTitle)
					.section-head__side-center
						.swiper-pagination
					.section-head__side-right
						a.section-head__link(href="#")
							span(data-text-sm="all" data-text-md="see all") 
						.swiper-nav
							button.swiper-button.swiper-button--prev
								+xlink('arrow-left', 'swiper-button')
							button.swiper-button.swiper-button--next
								+xlink('arrow-right', 'swiper-button')
				.swiper(data-breakpoint=(sBreakpoints != false ? ''+sBreakpoints+'' : false) data-row=sRow)
					.swiper-wrapper
						- for (let x = 0; x < 16; x++)
							.swiper-slide
								+game(sVert)




mixin historyTable()
	form
		.form-row.d-inline-flex
			label.form-field
				input.form-input(type="date" value="2023-06-09")
				span.form-message Текст ошибки
			b.as-center - 
			label.form-field
				input.form-input(type="date" value="2023-06-18")
				span.form-message Текст ошибки
			.cs-select
				select(name="balance-status")
					option(value="" selected disabled) Status
					option(value="all") All
					option(value="new") New
					option(value="complete") Complete
					option(value="canceled") Canceled
					option(value="rejected") Rejected
	table.fullwidth
		thead
			tr
				th Transaction time
				th Amount
				th Status
				th Method
				th Type
		tbody
			tr
				td 20:29:18 24-03-2023
				td.text-green ₽860.80
				td New
				td Card
				td Credit
			tr
				td 20:29:18 24-03-2023
				td.text-red - ₽860.80
				td Complete
				td Visa/MC
				td Debit
			tr
				td 20:29:18 24-03-2023
				td.text-green ₽860.80
				td New
				td Card
				td Credit
			tr
				td 20:29:18 24-03-2023
				td.text-green ₽860.80
				td New
				td Card
				td Credit
			tr
				td 20:29:18 24-03-2023
				td.text-red - ₽860.80
				td Canceled by user
				td Visa/MC
				td Debit
			tr
				td 20:29:18 24-03-2023
				td.text-green ₽860.80
				td New
				td Card
				td Credit
			tr
				td 20:29:18 24-03-2023
				td.text-red - ₽860.80
				td Rejected
				td Visa/MC
				td Debit
			tr
				td 20:29:18 24-03-2023
				td.text-green ₽860.80
				td New
				td Card
				td Credit
			tr
				td 20:29:18 24-03-2023
				td.text-green ₽860.80
				td New
				td Card
				td Credit
	button.btn.btn--gray.btn--sm.text-uppercase(type="button") Load more